@import "../../variables.scss";

.contact {
  padding: 50px 25px 50px;
  @media screen and (min-width: $size-m) {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
  }

  &-form,
  &-map {
    // width: 100%;
    flex-grow: 1;
  }

  &-form {
    @media screen and (min-width: $size-m) {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }

  &-map {
    position: relative;
    padding-top: 25px;
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $size-m) {
      padding-top: 0;
      padding-left: 1em;
      justify-content: flex-end;
    }
    @media screen and (min-width: $size-l) {
      padding-left: 3em;
    }

    img {
      width: 100%;
    }

    a {
      position: absolute;
      bottom: 0;
      text-decoration: none;
      font-size: 0.7em;
      padding: 5px;
      margin: 5px;
      color: black;
      background-color: hsla(195, 52%, 79%, 0.5);
      border-radius: 4px;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
