$accent: #f89079;
$background-main: #2b91d9;
$background-second: #2bd9cb;

.header {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  background-image: linear-gradient(
    135deg,
    $background-main,
    $background-second
  );
  padding: 150px 0;

  @media screen and (max-width: 768px) {
    padding: 50px 0;
  }

  &-left {
    grid-column: 4/10;
    h1,
    p {
      color: white;
    }

    h1 {
      font-size: 4em;
    }

    p,
    button {
      font-size: 1.5em;
    }

    button {
      background-color: $accent;
      border: none;
      padding: 20px 30px;
      color: white;
    }

    @media screen and (max-width: 768px) {
      grid-column: 2/12;
    }
  }

  &-right {
    @media screen and (max-width: 768px) {
      grid-column: 1/13;
    }
  }
}
