$accent: #f89079;
$background-main: #2b91d9;
$background-second: #2bd9cb;

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(
    135deg,
    $background-main,
    $background-second
  );
  padding: 150px 0;

  &-left,
  &-right {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  &-left {
    max-width: 30%;
    h1,
    p {
      color: white;
    }

    h1 {
      font-size: 4rem;
      overflow-wrap: break-word;
      margin: 0;
    }

    p,
    button {
      font-size: 1.5em;
    }

    button {
      background-color: $accent;
      border: none;
      padding: 20px 30px;
      color: white;
    }
  }

  &-right {
    max-width: 100%;
    img {
      width: 100%;
      max-width: 1920px;
    }
  }

  @media screen and (max-width: 1024px) {
    padding: 75px 0;
    flex-direction: column;

    &-left {
      max-width: 75%;
    }
  }

  @media screen and (max-width: 1024px) {
    h1 {
      word-break: break-all;
    }
  }

  @media screen and (max-width: 411px) {
    padding: 50px 0;
  }
}
