.about-us {
  width: 100%;
  max-width: 1366px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;

  &-left {
    width: 100%;
    max-width: 70%;
  }
  &-right {
    width: 100%;
    max-width: 40%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  @media screen and (max-width: 1374px) {
    flex-direction: column;
    align-items: center;

    &-right {
      max-width: 60%;
    }

    &-left {
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }
  }
}
