@import "../../variables.scss";

.about-us {
  padding: 150px 25px 0;

  @media screen and (min-width: $size-s) {
    padding: 0;
  }
  @media screen and (min-width: $size-m) {
    display: flex;
    justify-content: space-between;
  }

  &-left {
    @media screen and (min-width: $size-m) {
      width: 100%;
      max-width: 40%;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &-right {
    @media screen and (min-width: $size-m) {
      width: 100%;
      max-width: 50%;
    }
  }
}
