@import "../../variables.scss";

.icon-text {
  display: flex;
  align-items: flex-start;
  padding: 0.5em 0;

  &-icon {
    padding-right: 1em;
  }

  &-text {
    p {
      margin: 0;
      padding: 0;
    }
  }
}
