@import "../../variables.scss";

$background-main: #2b91d9;
$background-second: #2bd9cb;

.contact-form {
  h2 {
    text-align: center;
  }
  hr {
    width: 100%;
    max-width: 80%;
    height: 1px;
    border: none;
    background-color: lighten($background-second, 30%);
  }

  .contact-us {
    @media screen and (min-width: $size-s) {
      display: flex;
      flex-direction: column;
    }

    input,
    button {
      border: none;
      padding: 10px 20px;
      color: white;
      text-transform: uppercase;
      border-radius: 4px;
    }
    input {
      box-shadow: 7px 4px 20px -15px $background-main;

      @media screen and (min-width: $size-m) {
        padding: 5px 10px;
      }
      @media screen and (min-width: $size-l) {
        padding: 10px 20px;
      }
    }

    button {
      background-image: linear-gradient(
        135deg,
        $background-main,
        $background-second
      );
      box-shadow: 0px 10px 30px -10px $background-main;

      &:hover {
        background-image: linear-gradient(
          135deg,
          $background-second,
          $background-main
        );
      }

      @media screen and (min-width: $size-s) {
        width: 100%;
        max-width: 25%;
        margin: 0 auto;
      }
    }

    &-sec {
      @media screen and (min-width: $size-s) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px 0;

        @media screen and (min-width: $size-s) {
          padding: 10px 5px;
        }
      }
    }
  }
}
