@import "../../variables.scss";

$background-main: #2b91d9;
$background-second: #2bd9cb;

.contact-form {
  h2 {
    text-align: center;
  }
  hr {
    width: 100%;
    max-width: 80%;
    height: 1px;
    border: none;
    background-color: lighten($background-second, 30%);
  }

  .contact-us {
    @media screen and (min-width: $size-s) {
      display: flex;
      flex-direction: column;
    }

    input,
    button {
      border: none;
      padding: 10px 20px;
      border-radius: 4px;
    }
    input {
      box-shadow: 7px 4px 20px -15px $background-main;

      @media screen and (min-width: $size-m) {
        padding: 5px 10px;
      }
      @media screen and (min-width: $size-l) {
        padding: 10px 20px;
      }
    }

    button {
      cursor: pointer;
      display: block;
      margin: 1rem auto 0;
      font-size: 1.1em;
      font-weight: 700;
      letter-spacing: 2px;
      width: 100%;
      max-width: 10rem;
      color: white;
      text-transform: uppercase;
      background-image: linear-gradient(
        135deg,
        $background-main,
        $background-second
      );
      transition: 250ms all cubic-bezier(0.19, 1, 0.22, 1);
      transform: translateY(0px);
      box-shadow: 0px 10px 30px -7px rgba($background-main, 0.5);

      &:hover,
      &:focus {
        transform: translateY(-2px);
        box-shadow: 0px 10px 30px -7px rgba($background-main, 0.75);
      }

      &:active {
        transform: translateY(-1px);
        transition: 50ms all cubic-bezier(0.19, 1, 0.22, 1);
      }
    }

    &-sec {
      @media screen and (min-width: $size-s) {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }

      &-col {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 5px 0;

        @media screen and (min-width: $size-s) {
          padding: 10px 5px;
        }
      }
    }
  }
}
