@import "../../variables.scss";

$background-main: #454d5b;
$background-second: #144364;
$link-hover: rgb(212, 212, 212);

.footer {
  width: 100%;
  background-image: linear-gradient(
    135deg,
    $background-main,
    $background-second
  );
  color: white;

  // @media screen and (min-width: $size-s) {
  //   padding: 50px 0;
  // }

  a {
    display: block;
    color: white;

    &:hover {
      color: $link-hover;
    }
  }

  &-inner {
    width: 100%;
    padding: 50px 25px 50px;

    @media screen and (min-width: $size-s) {
      padding: 0;
      display: flex;
      justify-content: space-between;
    }

    .icon-text,
    .icon-link {
      img {
        max-height: 16px;
      }
    }

    &-left,
    &-right {
      padding: 25px 0;
      @media screen and (min-width: $size-s) {
        display: flex;
        flex-direction: column;
        justify-content: center;
      }
    }
    &-left {
      width: 100%;
      @media screen and (min-width: $size-s) {
        max-width: 50%;
      }

      img {
        width: 100%;
        max-width: 384px;

        @media screen and (min-width: $size-s) {
          max-width: 320px;
        }
      }

      &-links {
        padding: 50px 0 10px;
      }
    }
  }

  &-copyright {
    text-align: center;
    padding: 0 0 50px;
    p {
      margin: 0;
    }
  }
}
