@import "../../variables.scss";

.nav-top {
  display: none;

  @media screen and (min-width: $size-s) {
    position: absolute;
    width: 100%;
    display: flex;
    padding: 25px 0;
    flex-direction: row;
    justify-content: flex-end;
    margin: 0 auto;
    left: 0;
    right: 0;
    max-width: $size-xs;
  }

  @media screen and (min-width: $size-l) {
    max-width: $size-m;
  }

  @media screen and (min-width: $size-xl) {
    max-width: $size-l;
  }

  a {
    color: white;
    text-decoration: none;
    font-size: 1.5em;

    &:hover {
      text-decoration: underline;
    }

    @media screen and (min-width: $size-xs) {
      padding-right: 32px;
    }

    @media screen and (min-width: $size-l) {
      padding-right: 64px;
    }
  }

  &-right,
  &-left {
    width: 100%;
    max-width: 50%;
  }

  &-right {
    display: flex;
    flex-direction: column;

    @media screen and (min-width: $size-s) {
      flex-direction: row;
      justify-content: flex-end;
    }
  }

  #nav-top-right-btn {
    width: 100%;
    max-width: 25%;
    display: block;
    background-color: transparent;
    color: inherit;
    border: none;
    padding: 0;
    outline: inherit;

    @media screen and (min-width: $size-s) {
      display: none;
    }
  }
}
