@import "./variables.scss";

*,
*:before,
*:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: $light-grey;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

p,
a,
label {
  font-family: "Rubik", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "EB Garamond", serif;
}

.layout-boxed {
  width: 100%;
  margin: 0 auto;

  @media screen and (min-width: $size-s) {
    max-width: $size-xs;
  }
  @media screen and (min-width: $size-m) {
    max-width: $size-s;
  }
  @media screen and (min-width: $size-l) {
    max-width: $size-m;
  }
  @media screen and (min-width: $size-xl) {
    max-width: $size-l;
  }
}
