// Content sizes
$size-xl: 1920px;
$size-l: 1366px;
$size-m: 1024px;
$size-s: 768px;
$size-xs: 640px;

// Actionbox sizes
$actionbox-l: 1466px;
$actionbox-m: 1124px;
$actionbox-s: 868px;
$actionbox-xs: 740px;

// Colors
$color-gray-lightest: #f8f9fa;
$color-gray-lighter: #d9e1e8;
$color-gray-light: #9baec8;
$color-gray-dark: #454d5b;
$color-gray-darker: #282c37;
$color-gray-darkest: #282c37;

$color-primary: #2b91d9;
$color-primary-light: #cbe4f5;
$color-primary-dark: #144364;

$color-secondary: #2bd9cb;
$color-secondary-light: #caf5f2;
$color-secondary-dark: #146761;

$color-accent: #f89079;
$color-accent-light: lighten($color-accent, 12%);
$color-accent-dark: darken($color-accent, 30%);
