// Content sizes
$size-xl: 1920px;
$size-l: 1366px;
$size-m: 1024px;
$size-s: 768px;
$size-xs: 640px;

// Actionbox sizes
$actionbox-l: 1466px;
$actionbox-m: 1124px;
$actionbox-s: 868px;
$actionbox-xs: 740px;

// Colors
$light-grey: #f3f3f3;
